@using EntitiyLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Yazarın Blogları</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Başlığı</th>
        <th>Oluşturulma Tarihi</th>
        <th>Kategori</th>
        <th>Durum</th>
        <th>Düzenle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.BlogID</th>
            <td>@item.BlogTitle</td>
            <td>@(((DateTime)item.BlogCreateDate).ToString("dd-MMM-yyyy"))</td>
            <td>@if (item.Category!=null)
                {
                    <button class="btn btn-primary">@item.Category.CategoryName</button>
                }
                else
                {
                    <button class="btn btn-dark">Kategorisi Yok</button>
                }
            </td>
            <td>
                @if (item.BlogStatus)
                {
                    <button class="btn btn-success" >Aktif</button>
                }
                else
                {
                    <button class="btn btn-danger" style="background-color: red; color: white;">Pasif</button>
                }
            </td>
            <td><a href="#" class="btn btn-warning">Düzenle</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>

<a href="#" class="btn btn-primary">Yeni Blog Oluştur</a>