<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer tüm alanlardaki blogları ilk siz okuyun.</p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="e - Mail" required="" name="Mail">
        <input type="submit" value="Abone Ol !">
    </form>
</div>
